.pointer {
  cursor: pointer;
}

.mr-10 {
  margin-right: 20px;
}

.op-07:hover {
  opacity: 0.7;
}

.comment-link {
  color: #acacac;
  font-size: medium;
  text-decoration: none;
}

.comment-link:hover {
  color: #989696;
}
